/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

 .clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.row{
  max-width: 100%
}
/* Body */
body{
  font-family: 'Open Sans', sans-serif, 'Gothic A1', sans-serif;
  background-color: #f3f8f7;
}

h1, h2, h3, h4, p, li, a{
  font-family: 'Open Sans', sans-serif, 'Gothic A1', sans-serif;
}

/* Nav Bar */
.top-bar{
  background-color: transparent;
  border: none;
  padding-bottom: 5%;
}

ul .top-bar-section{
  background-color: #ffffff;
  border: none;
}

#btn-login{
  padding-top: 10%;
  background-color: transparent;
}

/*  CompanyList */
.map{
  background-color: #83ad21;
  padding: 35%;
}

#map {
  background-color: grey;
  height: 100%;
}

.search-bar{
  background-color: #55b8ae;
}

.company-list{
  background-color: #ffffff;
}

#btn-distance{
  float: left;
}

/* Company Profile */
.edit-info{
  font-style: italic;
}
.company-profile-info{
  background-color: #ffffff;
  margin-left: 5%;
}

.company-alerts{
  background-color: #55b8ae;
  padding: 5%;
  margin-right: 5%;
}

.company-edit-form{
  border: solid #83ad21;
  margin-top: 2%;
  padding: 15%;
  margin-right: 5%
}

const style = {
  width: '100%',
  height: '100%'
}
